/*master css file*/
/*zero out*/
*, html {
  margin: 0;
  padding: 0;
}
/*global styles*/
body {
  font-family: Arial, Verdana, sans-serif;
  font-size: 16px;
  background-color: #EFE7BC;
}
p {
  font-size: 1em;
  padding: 0.1em 0;
}
h1 {
  font-size: 4em;
}
h2 {
  font-size: 3.5em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.6em;
}
li {
  list-style: none;
}
/*core layout*/
#header-container {
  background-color: #c6e0dc;
  width: 100%;
  height: 10em;
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
#landing-container {
  background-color: #EBF5F7;
  max-width: 42em;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0.6em 0 0.6em 0;
}
#footer-container {
  width: 100%;
  height: 4em;
  background-color: #c6e0dc;
}
/*header styles*/
#header-container h1 {
  margin-right: 0.4em;
}
#header-container img {
  max-width: 5em;
  height: auto;
}
.title {
  color: #ea7256;
  font-family: 'Mansalva', Arial, sans-serif;
}
.headings-container {
  width: 95%;
  display: flex;
  justify-content: center;
}
.headings-container h3 {
  margin: 0.4em 0;
}
/*navigation styles*/
#nav-bar {
  background-color: #ffdcd3;
  height: 2em;
  width: 100%;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 9999;
}
#nav-bar ul {
  width: 42em;
  height: 2em;
  display: flex;
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 9999;
}
#nav-bar li {
  display: flex;
  width: 25%;
}
#nav-bar li .nav-link {
  background-color: #ffdcd3;
  text-decoration: none;
  color: #71645a;
  width: 100%;
  text-align: center;
  padding: 0.5em 0;
}
#nav-bar li .nav-link:hover {
  background-color: #e7ae4d;
}
/*main styles*/
#features-list {
  width: 95%;
  margin: 0 auto 0.3em auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
#features-list .sub {
  width: 100%;
  display: flex;
  flex-direction: row;
}
#features-list .sub .image {
  margin: 0 1em;
}
#features-list .sub .image img {
  width: 4em;
  height: 4em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#features-list .one {
  margin-top: 1em;
  margin-bottom: 1em;
}
#features-list .sub .text {
  box-sizing: border-box;
  margin: auto 0;
}
#features-list .sub .text p {
  margin: 0.3em 0;
}
#product-gallery {
  width: 95%;
  margin: 0.6em auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
#product-gallery .sub {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
#product-gallery .one {
  margin-bottom: 4%;
}
#product-gallery .sub .item {
  width: 48%;
  box-sizing: border-box;
  background-color: #c6e0dc;
  border-radius: 0.6em;
}
#product-gallery .sub .item img {
  width: 10em;
  height: 10em;
  display: block;
  margin: 0.6em auto;
  border-radius: 0.6em;
}
#product-gallery .sub .item h4 {
  text-align: center;
  margin: 0.6em;
}
#product-gallery .sub .item p {
  margin: 0.6em;
}
#video {
  width: 95%;
  margin: 0.6em auto;
  box-sizing: border-box;
}
#video .video-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
#video .video-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
#form {
  width: 95%;
  display: flex;
  background-color: #BFCAD0;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 10px 0;
}
.free-text {
  width: 90%;
  display: flex;
  margin: 10px 0;
  flex-direction: row;
}
.label-text {
  box-sizing: border-box;
  padding-right: 10px;
  width: 30%;
}
.free-text input[type=text], input[type=email], input[type=number], textarea, select {
  font-size: 0.8em;
  padding: 5px;
  border: none;
  border-radius: 3px;
}
#text-area {
  width: 90%;
  display: flex;
  margin: 10px 0;
  flex-direction: row;
  border: 0;
}
#feedback {
  width: 70%;
  font-size: 0.8em;
}
#name, #email, #number {
  width: 70%;
  height: 1em;
}
/*submit button*/
button[type=submit] {
  font-family: 'Mansalva', Arial, sans-serif;
  font-size: 1.2em;
  color: #ffffff;
  background-color: #ea7256;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
button[type=submit]:hover {
  color: #3A404E;
  background-color: #DEE2EC;
}
/*footer styles*/
#footer-container {
  color: #ea7256;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}


@media only screen and (max-width: 42em) {
  #nav-bar ul {
    width: 100%;
}
/*phone size media query*/
@media only screen and (max-width: 414px) {
  #header-container {
    height: 9em;
  }
  #header-container h1 {
    margin-right: 0;
    text-align: center;
    width: 50%;
  }
  #landing-container {
    margin: 11em auto 0 auto;
  }
  #nav-bar {
    top: 9em;
  }
  #nav-bar ul {
    top: 9em;
  }
  #features-list .sub {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #features-list .sub .image {
    margin: 0 auto 1em auto;
  }
  #features-list .sub .image img {
    width: 4em;
    height: 4em;
    position: static;
    top: auto;
    transform: none;
  }
  #product-gallery .sub {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #product-gallery .sub .item {
    width: 95%;
    margin-bottom: 1em;
  }
  #product-gallery .one {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 360px) {
    body {
      font-size: 14px;
    }
  }
