/*master css file*/
/*zero out*/
*, html {
  margin: 0;
  padding: 0;
}
/*text*/
body {
  font-family: Arial, Verdana, sans-serif;
}
p {
  font-size: 1em;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
/*core layout*/
#header-container {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
}
#landing-container {
  max-width: 650px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px 0 10px 0;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
#footer-container {
  width: 100%;
  height: 100px;
  background-color: green;
}
/*header styles*/
#header-container h1 {
  margin-right: 10px;
}
#header-container img {
  width: 100px;
  height: auto;
}
/*navigation styles*/
#nav-bar {
  max-width: 650px;
  height: 50px;
  background-color: aqua;
  box-sizing: border-box;
  margin: 0 auto;
}
.nav-link {

}
/*main styles*/
#features-list {
  width: 95%;
  height: 200px;
  margin: 0 auto 5px auto;
  box-sizing: border-box;
  display: flex;
  border: 2px solid blue;
}
#product-gallery {
  width: 95%;
  margin: 10px auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
#product-gallery .sub {
  width: 100%;
  height: 47.5%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
#product-gallery .one {
  margin-bottom: 5%;
}
#product-gallery .sub .item {
  width: 47.5%;
  box-sizing: border-box;
  background-color: #BFCAD0;
  border-radius: 10px;
}
#product-gallery .sub .item img {
  width: 150px;
  display: block;
  margin: 10px auto;
  border-radius: 10px;
}
#product-gallery .sub .item h4 {
  text-align: center;
  margin: 10px;
}
#product-gallery .sub .item p {
  margin: 10px;
}
#video {
  width: 95%;
  height: 200px;
  margin: 10px auto;
  box-sizing: border-box;
  display: flex;
  border: 2px solid blue;
}
#form {
  width: 95%;
  height: 200px;
  margin: 10px auto 0 auto;
  box-sizing: border-box;
  display: flex;
  border: 2px solid blue;
}
/*footer styles*/

/*title adjustment only media query*/
@media only screen and (max-width: 525px) {

}
/*phone size media query*/
@media only screen and (max-width: 414px) {

}
@media only screen and (max-width: 320px) {

  }
